RewriteEngine On
RewriteRule ^home$  index.php
RewriteRule ^cart$  index.php?controller=cart
RewriteRule ^news$  index.php?controller=news
RewriteRule ^contact$  index.php?controller=contact
RewriteRule ^products/category/(.*)/(.*)$  index.php?controller=products&action=category&id=$1
RewriteRule ^products/detail/(.*)/(.*)$  index.php?controller=products&action=detail&id=$1
RewriteRule ^products/rating/(.*)/(.*)/1$  index.php?controller=products&action=rating&id=$1&star=1
RewriteRule ^products/rating/(.*)/(.*)/2$  index.php?controller=products&action=rating&id=$1&star=2
RewriteRule ^products/rating/(.*)/(.*)/3$  index.php?controller=products&action=rating&id=$1&star=3
RewriteRule ^products/rating/(.*)/(.*)/4$  index.php?controller=products&action=rating&id=$1&star=4
RewriteRule ^products/rating/(.*)/(.*)/5$  index.php?controller=products&action=rating&id=$1&star=5
RewriteRule ^news/detail/(.*)/(.*)$  index.php?controller=news&action=detail&id=$1
RewriteRule ^account/login$ index.php?controller=account&action=login
RewriteRule ^account/logout$ index.php?controller=account&action=logout
RewriteRule ^account/register$ index.php?controller=account&action=register
RewriteRule ^cart/create/(.*)/(.*)$  index.php?controller=cart&action=create&id=$1